# Import data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv('avocado.csv')
dataset.shape

(18249, 14)

In [4]:
dataset.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [19]:
prices = dataset.iloc[:,2:3].values

typeof = dataset.iloc[:,11:12].values

https://www.youtube.com/watch?v=naRQyRZrXCE This is very clear explanation of iloc  
https://www.youtube.com/watch?v=xvpNA7bC8cs This is even more clear / clearer 

Summary: The iloc is exclusive on the second number

In [22]:
from sklearn.preprocessing import StandardScaler
sc_prices = StandardScaler()
sc_typeof = StandardScaler()
prices = sc_prices.fit_transform(prices)

# Fitting SVR to the dataset

In [ ]:
from sklearn.svm import SVR
regressor = SVR(kernel= 'rbf')
regressor.fit(prices, )

# Try to do the regression